.scroller {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 300px;
  height: 300px;
  border: 5px solid lightgray;
}

.box {
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* 
.Card {
  display: grid;
  justify-items: center;
  padding: 20px;
  background: #eee;
  border-radius: 8px;
}

.Card__characterImg {
  border-radius: 10px;
}

.Card__details {
  display: grid;
}
*/
