.scroller {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 300px;
  height: 310px;
  border: 5px solid lightgray;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  flex: 1 0 100%;
  scroll-snap-align: start;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
