.Sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 48px;
  left: 0;
  padding-top: 50px;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.95);
}

.Sidebar__filters {
  list-style: none;
  color: white;
}

.Sidebar__closeButton {
  position: absolute;
  top: 20px;
  right: 10px;
}
